:root {
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --section-color: #f5f4fa;
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --icons-color: #afb1b8;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color);
  font-size: 14px;
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* Хедер */

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  min-height: 80px;
  width: 100%;
  border-bottom: 1px solid #ececec;

  background-color: var(--main-color);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.accent {
  color: #000000;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  position: relative;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);

  transition: color 250ms var(--transition);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.header-list-contact {
  display: flex;
}

.header-link-contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);

  transition: color 250ms var(--transition);
}

.header-item-contact:not(:last-child) {
  margin-right: 50px;
}

.header-link-contact:hover,
.header-link-contact:focus {
  color: var(--accent-color);
}

.icon-contact {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.tel {
  width: 10px;
  height: 16px;
}
/* Главный контент страницы */

/* Герой */

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  height: 600px;
  max-width: 1600px;

  background: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;

  color: var(--main-color);
}

.hero-btn {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  color: var(--main-color);
  background-color: var(--accent-color);

  transition: box-shadow 250ms var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Преймущества */

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-item {
  width: calc((100% - 90px) / 4);
}

.icons-benefits {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  background-color: var(--section-color);
  border-radius: 4px;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}

.benefits-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-title {
  margin-bottom: 50px;
}

.about-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.about-upper-title {
  position: absolute;
  bottom: 0;

  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.about-upper-text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}

/* Наша команда */

.team {
  background-color: var(--section-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  margin-bottom: 50px;
}

.team-item {
  padding-bottom: 30px;
  width: calc((100% - 90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-color);
}

.team-img {
  margin-bottom: 30px;
}

.team-title-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icon-item {
  width: 44px;
  height: 44px;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icons-color);

  transition: color 250ms var(--transition), background-color 250ms var(--transition);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.icon-team {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постійні клієнти */

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: color 250ms var(--transition), border 250ms var(--transition);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.icon-clients {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-color);
}

.accent-logo {
  color: var(--main-color);
}

.footer-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-item-address {
  margin-bottom: 9px;
}

.footer-link-address {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--transition);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-logo {
  width: 20px;
  height: 20px;
  fill: var(--main-color);
}

.mailing-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color);
  background-color: transparent;
  transition: outline 250ms var(--transition);
}

.mailing-input:focus {
  outline: 1px solid var(--accent-color);
}

.mailing-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mailing-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 28px;
  margin-left: 12px;
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: box-shadow 250ms var(--transition);
}

.btn-text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-color);
}

.mailing-btn:hover,
.mailing-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-mailing {
  width: 24px;
  height: 24px;
}

/* Портфолио */

.margin-container {
  margin-bottom: 50px;
}

.project-list {
  display: flex;
  justify-content: center;
}

.project-item:not(:last-child) {
  margin-right: 8px;
}

.project-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;

  color: var(--title-color);
  background: var(--section-color);

  transition: background-color 250ms var(--transition), color 250ms var(--transition),
    box-shadow 250ms var(--transition);
}

.project-btn:hover,
.project-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.project-list-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item-img {
  width: calc((100% - 60px) / 3);
}

.project-link-img {
  display: block;
  transition: box-shadow 250ms var(--transition);
}

.project-link-img:hover,
.project-link-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-img-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-img-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.project-img-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  top: 0;

  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--transition);
}

.project-link-img:hover .project-overlay-text {
  transform: translateY(0);
}

/* Модалка */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition), visibility 250ms var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  width: 528px;
  min-height: 581px;

  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) translateY(0) scale(1);
  transition: transform 500ms var(--transition);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(-100%) scale(0);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: var(--accent-color);
  transition: fill 250ms var(--transition);
}

.modal-close:hover,
.modal-close:focus {
  fill: currentColor;
}

.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* Форма */

.form-label {
  display: block;
  margin-bottom: 10px;
}

.label-wrap {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
  cursor: pointer;
}

.input-wrap {
  position: relative;
  display: block;
}

.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms var(--transition);
  cursor: pointer;
}

.form-input:focus {
  outline: 1px solid var(--accent-color);
}

.form-input:focus + .icon-form {
  fill: var(--accent-color);
}

.icon-form {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  fill: var(--title-color);
  transition: color 250ms var(--transition);
}

.textarea-label {
  display: block;
  margin-bottom: 20px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  cursor: pointer;
  transition: outline 250ms var(--transition);
}

.form-textarea:focus {
  outline: 1px solid var(--accent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-check {
  position: relative;
  top: 2px;

  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-color);
  border-radius: 2px;
}

.checkbox:checked + .form-check {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form-license {
  letter-spacing: 0.03em;
  line-height: 1.71;

  color: var(--text-color);
  cursor: pointer;
}

.license-link {
  letter-spacing: 0.03em;
  line-height: 1.71;

  color: var(--accent-color);
  text-decoration: underline;
}

.form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-color);
  background-color: #188ce8;
  border-radius: 4px;
  border: none;

  transition: box-shadow 250ms var(--transition);
}

.form-btn:hover,
.form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
