.about {
  padding-top: 0;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-title {
  margin-bottom: 50px;
}

.about-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.about-upper-title {
  position: absolute;
  bottom: 0;

  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.about-upper-text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $main-color;
}